@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {}

body {font-family: "Open Sans"; color: #6E6E6E; font-size: 16px; line-height: 25px;}

h1,h2,h3,h4,h5 {font-family: "Oswald"; color: #444444;}
p {font-family: "Open Sans"; color: #6E6E6E; font-size: 16px; line-height: 25px;}
a {color: #00688B; text-decoration: none;}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#fixed-container {position: fixed; width: 100%; height: 40px; z-index: 1;}
#download-on-github {position: absolute; top: -20px; right: 22px; background: #333333; border-radius: 10px; padding: 20px 10px 5px 10px; color: white; opacity: 0.6; border: 2px solid #CCCCCC;}
#download-on-github:hover {opacity: 0.9;}

.wrapper {width: 100%; max-width: 1040px; margin: auto; position: relative;}
.wrapper .padding {padding: 10px;}
.code {background: #DFDFDF; padding: 10px;}