@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {padding: 0px; margin: 0px;}
body {font-family: "Open Sans"; color: #6E6E6E; font-size: 16px; line-height: 25px;}

h1,h2,h3,h4,h5 {font-family: "Oswald"; color: #444444;}
h1 {font-size: 40px; line-height: 45px; margin-top: 40px; margin-bottom: 20px;}
p {font-family: "Open Sans"; color: #6E6E6E; font-size: 16px; line-height: 25px;}
a {color: #009ACD; text-decoration: none;}

hr {display: block;height: 1px;border: 0;border-top: 1px solid #009ACD;margin: 1em 0;padding: 0; }

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#fixed-container {position: fixed; width: 100%; z-index: 1;}
#download-on-github {position: absolute; top: -20px; right: 9px; background: #009ACD; border-radius: 10px; padding: 24px 15px 5px 15px; color: white; opacity: 0.7; border: 2px solid #CCCCCC;}
#download-on-github:hover {opacity: 1;}

.wrapper {width: 100%; max-width: 1040px; margin: auto; position: relative;}
.wrapper .padding {padding: 10px;}
.code {background: #DFDFDF; padding: 10px;}

table {border-collapse: collapse;}

/* NAV */
#nav {width: 100%; background: #FFFFFF; border-collapse: collapse; border-bottom: 1px solid #AAAAAA;}
#nav .head {padding: 8px; background: #009ACD; margin-bottom: 5px; color: white; font-weight: bold;}

/* NAV - PC */
#nav tr td table td {text-align: center; border-left: 1px solid #AAAAAA; padding: 3px;}
#nav tr td table td:first-of-type {border-left: none;}
#nav tr td table td:hover {background: #EEEEEE;}
#nav tr td table td a {width: 100%; height: 100%; display: inline-block; padding: 3px 0 3px 0; color: #333333;}

/* NAV - MOBILE */
#nav .expandable {margin-bottom: 5px;}
#nav div div {text-align: center; padding: 3px;}
#nav div div:hover {background: #EEEEEE;}
#nav div div a {width: 100%; height: 100%; display: inline-block; padding: 3px 0 3px 0; color: #333333;}

@media screen and (max-width: 890px){
	.non-mobile-only {display: none;}
}

@media screen and (min-width: 890px){
	.mobile-only {display: none;}
}