/* INCLUDES
------------------------------------------*/

/* ELEMENTS
------------------------------------------*/
body, html {
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 0px;
	margin: 0px;
}

body {
	background: #F7F7F7;
	font-family: sans-serif;
	color: #333333;
	text-align: center;
}

a {color: #0066CC;}
h1 a {color: #333333; text-decoration: none;}

h1, h2, h3, h4, h5 {font-weight: bold; margin: 0px;}
h1 {font-size: 1.6em; line-height: 1.8em; padding: 5px 0px 5px 0px;}
h2 {font-size: 1.5em; line-height: 1.6em; padding: 5px 0px 5px 0px;}
h3 {font-size: 1.4em; line-height: 1.4em; padding: 5px 0px 5px 0px;}
h4 {font-size: 1.2em; line-height: 1.2em; padding: 5px 0px 5px 0px;}
h5 {font-size: 1em; line-height: 1em; padding: 5px 0px 5px 0px;}
p {font-size: 1em;}
hr {border: 0px; background: #CCCCCC; height: 1px; width: 100%; display: block;}

/* ID'S
------------------------------------------*/
#outerContainer {
	position: relative;
	width: 100%;
	height: 100%;
}

#header {
	background: #333333;
	color: #FFFFFF;
	box-shadow: 0 4px 2px -2px gray;
	z-index: 10;
	position: fixed;
}
#header h2 {padding-left: 14px;}

#leftColumn {
	position: fixed;
	width: 200px;
	min-height: 100%;
	background: #DDDDDD;
	z-index: 1;
	-webkit-box-shadow: 4px 0 4px -2px #888;
     		box-shadow: 4px 0 4px -2px #888;
}

#pageArea {
	position: absolute;
	width: 100%;
	height: 100%;
}

#pageArea #pageContent {
	padding: 72px 20px 20px 220px;
}

/* Forms
--------------------------------------------------*/
.mainForm input {padding: 4px; border: 1px solid #CCCCCC; width: 300px;}
.mainForm select {padding: 4px; border: 1px solid #CCCCCC; width: 310px;}
.mainForm textarea {padding: 4px; border: 1px solid #CCCCCC; width: 300px; height: 50px; margin-bottom: 0px; font-family: "Arial";}

.mainForm input[type="submit"] {width: 310px; border-radius: 5px; background: #333333; color: white;}
.mainForm input[type="submit"]:hover {cursor: pointer;}
.mainForm input[type="file"] {margin-bottom: 2px;}

.mainForm tr td {vertical-align: middle; color: #333333; padding-right: 15px; padding-top: 3px; padding-bottom: 3px; font-size: 13px;}

/* Nav
--------------------------------------------------*/
#nav {position: absolute; z-index: 11; top: 72px; height: 85%; overflow: auto;}
#nav h2 {margin-left: 10px;}
#nav ul {margin-left: 10px; padding-left: 15px; list-style-image: url('../images/bullet.png');}
#nav ul li {margin-top: 8px;}
#nav ul li ul li {list-style: none; position: relative; left: -25px;}
#nav ul li ul li:before {content: '- ';}
#nav a:hover {color: #ba1f24;}
#nav li {/*padding-top: 3px;*/}
#nav li a {font-size: 12px; color: #333333; letter-spacing: 1px;}

/* Tables
--------------------------------------------------*/
table.tableList {width: 100%; border-collapse: collapse; border: 1px solid #CCCCCC;}
table.tableList thead tr {background: #06C; color: white;}
table.tableList tr td {padding: 5px 3px 5px 3px; font-size: 13px;}
table.tableList tbody tr td {border: 1px solid #CCCCCC; vertical-align: middle;}
table.tableList tr.row1 {background: #F7F7F7;} 
table.tableList tr.row2 {background: #FFFFFF;} 

/* Pagination
--------------------------------------------------*/
.pagination {margin: 3px 0px 5px 0px;}
.pagination span {margin: 3px  0; display: block; font-size: 13px;}
.pagination a {border: 1px solid #CCCCCC; background: #DCDCDC; padding: 1px 5px 1px 5px; margin-right: 2px; font-size: 13px; float: left; margin-bottom: 3px;}
.pagination a:hover {background: #F2F2F2;}
.pagination a.selected {background: #06C; color: white; border: 1px solid #17D;}

/* CLASSES
------------------------------------------*/
.outerWrapper {
	position: relative;
	width: 100%;
}

.innerWrapper {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	text-align: left;
}

.smallPadding {
	padding: 5px;
}

/* PAGES
------------------------------------------*/

/* TEMPORARY
------------------------------------------*/
#ui-datepicker-div {background: #FFFFFF; padding: 5px; border: 1px solid #CCCCCC; border-radius: 3px; box-shadow: 1px 1px 3px 2px #BBBBBB;}